*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.ocultar{
    display: none;
}

#btnDescargar {
    position: fixed;   
    top: 10px;         
    right: 10px;       
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 999;     
  }
  